  <!-- item-row -->
  <article class="row gy-2 align-items-center">
    <div class="col-xl-3 col-sm-6">
      <div class="itemside align-items-center">

      <div class="aside">
        <img src="{{product.images[0].url}}" alt="{{ product.name }}" class="img-sm img-thumbnail">
      </div>

      <div class="info">


        <a href="#" class="h6 link-primary">Great shop LLC</a>
        <div class="rating-wrap">
          <span>
            <i class="me-2 text-success fa fa-check"></i> Free worldwide shipping </span>
            <br>
            <span>
            <i class="me-2 text-success fa fa-check"></i> Pay with installment </span>
        <p-rating [(ngModel)]="value" [readonly]="true" [stars]=5 [cancel]="false"></p-rating>
      </div>
      </div>      
      </div>
    </div>



    <div class="col-xl-6 col-sm-6">

      <div class="col-6 col-md-4">
        <small class="d-block text-uppercase fw-bold">Valor </small>
        <h5 class="my-0">{{ product.valorLista }}</h5>
        <div class="form-text text-extra-small fw-bolder text-uppercase" style="font-size:8px">Dólares americanos</div>
      </div>
      <div class="col-6 col-md-4">
        <small class="d-block text-uppercase fw-bold">Precio</small>
        <h5 class="my-0">{{ product.precio }}</h5>
        <div class="form-text text-extra-small fw-bolder text-uppercase" style="font-size:8px">valor opcional</div>
      </div>
      <div class="col-6 col-md-4">
        <small class="d-block text-uppercase fw-bold">Plan</small>
        <h5 class="my-0">{{ getFormattedProductName() }}</h5>
        <div class="form-text text-extra-small fw-bolder text-uppercase" style="font-size:8px"></div>
      </div>
     

      
      <div class="col-6 col-md-3">
        <span class="form-text text-extra-small fw-bolder"><i class="fal fa-hospital icon mr-1" [ngStyle]="iconStyles"></i> Prestadores </span>

        <!-- <div class="form-text text-extra-small fw-bolder text-uppercase">Promoción</div> -->
        <h5 class="text-muted mb-0" style="font-size:9px">{{ product.promoPorcentaje * 100}} %: {{ product.promoDescuento }}</h5>
      </div>
      <div class="col-6 col-md-3">
        <span class="form-text text-extra-small fw-bolder" style="font-size:9px"><i class="fal icon mr-1 fa-procedures" [ngStyle]="iconStyles"></i> Internación </span>
        <!-- <div class="form-text text-extra-small fw-bolder text-uppercase">Aporte Obra Social</div> -->
        <h5 class="text-muted mb-0" style="font-size:9px">{{ product.aporteOS }}</h5>
      </div>
      <div class="col-6 col-md-3">
        <span container="body" class="form-text text-extra-small fw-bolder" style="font-size:9px">
          <i class="fal icon mr-1 fa-user-md" [ngStyle]="iconStyles"></i> Ambulatoria </span>
        <!-- <div class="form-text text-extra-small fw-bolder text-uppercase">monto de crédito</div> -->
        <h5 class="text-muted mb-0" style="font-size:9px">{{ product.aporteOS }}</h5>
      </div>
      <div class="col-6 col-md-3">
        <span container="body" class="form-text text-extra-small fw-bolder" style="font-size:9px">
          <i class="fal icon mr-1 fa-heart-rate" [ngStyle]="iconStyles"></i> Urgencia </span>
        <!-- <div class="form-text text-extra-small fw-bolder text-uppercase">crédito bancario</div> -->
        <h5 class="text-muted mb-0" style="font-size:9px">{{ product.aporteOS }}</h5>
      </div>
    </div>




    
    <div class="col-md-3 d-flex justify-content-lg-end">
      <div style="margin-top:10px;margin-left:0px;margin-right:0p">
        <small class="d-block text-uppercase fw-bold">Total a pagar</small>
        <h4 class="mb-1 me-1">{{product.precio}}</h4>
                <span class="text-danger mb-1 me-1"><s>{{product.price}}</s></span>
              
              <h6 class="text-success"><span>{{product.precio}}</span></h6>
        <div class="form-text text-white text-extra-small fw-bolder text-uppercase pb-3">mensual</div>
        <!-- <button (click)="openDialog(product)" class="btn btn-outline-primary btn-sm mt-2" type="button">Detalles</button> -->
        <button *ngIf="collapsed" (click)="expand()">Expand</button>
         <button *ngIf="!collapsed" (click)="collapse()">Collapse</button>
        <button (click)='toggleCompare()' > {{product.compare ? "Remover" : "Comparar"}}
        </button>
          <!-- <button class="btn btn-primary" >Add to cart</button> -->
        </div>
    </div>
    </article>
    <!-- item-row //end -->
  